.main {
  margin-left: 20vw;
  width: 40em;
  /* height: 500rem; */
}

.post-profile-icon {
  width: 3.5rem;
  border-radius: 3.5rem;
  border: 1px bisque solid;
}
.post-author-name {
  font-weight: bolder;
  margin-left: 0.6rem;
  margin-right: 0.7rem;
  font-size: 1.4rem;
}
.post-time {
  font-size: smaller;
}
.post-author-link {
  text-decoration: none;
  color: black;
}
.post-image {
  width: 12rem;
  max-height: 30rem;
  border: 1px solid bisque;
  border-radius: 2rem;
}
.tweet-text-area {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid rgb(153, 153, 153);
}
.tweet-text-area::placeholder {
  font-size: larger;
  margin-left: 2rem;
}
.tweet-image-upload {
  /* height: 5rem; */
  background-color: hsla(197, 100%, 47%, 0.26);
}

.tweet-form {
  width: 50rem;
}
@media (max-width: 900px) {
  .tweet-form {
    width: 70vw;
  }
  .main {
    margin-left: 20vw;
    width: 80vw;
  }
  .post-image {
    width: 16rem;
    max-height: 20rem;
    border: 1px solid bisque;
    border-radius: 2rem;
  }
}

.profile-avatar-image {
  width: 7rem;
}
.profile-joined-icon {
  width: 1.5rem;
}

.header-title {
  font-weight: 900;
  font-size: large;
  /* margin-top: 4rem; */
}
.like-btn {
  width: 2.3rem;
  filter: grayscale(1);
}
